.zq-input {
    .zq-default-border();
    height: 28px;
    width: 100%;
    outline: none;
    padding: 0 5px;
    &:focus, &:hover {
        .zq-active-border()
    }
    &.ng-invalid {
        .zq-error();
    }
}