.a4-container {
  height: 100vh;
  width: 100vw;
  .a4 {
    margin: 0 auto;
    border: .05em solid #333;
    padding: 6em 4.76em;
    table {
        tr, td {
            border: .05em solid #333;
        }
        td {
            text-align: center;
        }
    }
  }
}
