@font-face {
  font-family: "iconfont"; /* Project id 4119748 */
  src: url('iconfont.woff2?t=1686635438997') format('woff2'),
       url('iconfont.woff?t=1686635438997') format('woff'),
       url('iconfont.ttf?t=1686635438997') format('truetype');
}

[class^="icon-"],[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e94f";
}

.icon-arrow-down:before {
  content: "\e950";
}

.icon-arrow-right:before {
  content: "\e951";
}

.icon-arrow-up:before {
  content: "\e952";
}

.icon-caret-left:before {
  content: "\e953";
}

.icon-caret-right:before {
  content: "\e954";
}

.icon-caret-up:before {
  content: "\e955";
}

.icon-caret-down:before {
  content: "\e956";
}

.icon-check:before {
  content: "\e957";
}

.icon-check-circle:before {
  content: "\e958";
}

.icon-clock-circle:before {
  content: "\e959";
}

.icon-close:before {
  content: "\e95a";
}

.icon-close-square:before {
  content: "\e95b";
}

.icon-close-circle:before {
  content: "\e95c";
}

.icon-comment:before {
  content: "\e95d";
}

.icon-delete:before {
  content: "\e95e";
}

.icon-down:before {
  content: "\e95f";
}

.icon-download:before {
  content: "\e960";
}

.icon-edit:before {
  content: "\e961";
}

.icon-exclamation-circle:before {
  content: "\e962";
}

.icon-eye:before {
  content: "\e963";
}

.icon-eye-invisible:before {
  content: "\e964";
}

.icon-holder:before {
  content: "\e965";
}

.icon-left:before {
  content: "\e968";
}

.icon-plus-circle:before {
  content: "\e96f";
}

.icon-plus:before {
  content: "\e970";
}

.icon-reload:before {
  content: "\e974";
}

.icon-right:before {
  content: "\e975";
}

.icon-setting:before {
  content: "\e977";
}

.icon-search:before {
  content: "\e978";
}

.icon-sync:before {
  content: "\e97c";
}

.icon-tool:before {
  content: "\e97e";
}

.icon-up:before {
  content: "\e980";
}

.icon-unordered-list:before {
  content: "\e981";
}

.icon-undo:before {
  content: "\e982";
}

.icon-user:before {
  content: "\e983";
}

.icon-zoom-out:before {
  content: "\e984";
}

.icon-zoom-in:before {
  content: "\e985";
}

