.sl-liveplayer {
    height: 100%;
    width: 100%;
    position: relative;
    .sl-liveplayer__wraper {
        position: relative;
        .sl-liveplayer__main {
            cursor: pointer;
            .sl-liveplayer__main__slot{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
        .sl-liveplayer__controlbar {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}