// @import 'index.less';
.sl-videoplayer-control {
  height: 100%;
  width: 100%;
  transform: translate(0, 0);
  .sl-videoplayer-control__default {
    display: flex;
    justify-content: space-between;
  }

  .sl-videoplayer-control__hidden {
    display: none !important;
  }
  .sl-videoplayer-control__items {
    background-color: rgba(0, 0, 0, 0.178);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &.items_right {
      justify-content: flex-end;
    }
    .icon {
      display: inline-block;
      height: 16px;
      width: 16px;
      cursor: pointer;
      &.icon_play {
        // .F-Icon-core('icon-16', 16, 16, 7, 9);
      }
      &.icon_pause {
        // .F-Icon-core('icon-16', 16, 16, 7, 10);
      }
      &.icon_full {
        // .F-Icon-core('icon-16', 16, 16, 4, 2);
      }
    }
  }
}

.sl-videoplayer-progress {
  --progressHeight: 8px;
  --thumbWidth: 12px;
  --thumbHeight: 12px;
  position: relative;
  height: var(--progressHeight);
  .sl-videoplayer-progress__bar {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    cursor: pointer;
    &.sl-videoplayer-progress__bar_hidden {
      display: none !important;
    }
    .sl-videoplayer-progress__active {
      pointer-events: none;
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(255, 166, 0);
    }
    .sl-videoplayer-progress__thumb {
      pointer-events: none;
      background-color: aqua;
      position: absolute;
      top: calc((var(--thumbHeight) - var(--progressHeight)) / -2);
      left: calc(var(--thumbWidth) / -2);
      // transform: translate(calc(var(--thumbWidth) / -2), calc((var(--thumbHeight) - var(--progressHeight)) / -2));
      height: var(--thumbHeight);
      width: var(--thumbWidth);
      border-radius: 50%;
    }
  }
}
