@import "index";
:host {
    width: 100%;
    height: 100%;
}
.zq-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    .zq-header {
        width: 100%;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        background-color: @layout-bg1;
    }
    .zq-layout__content {
        width: 100%;
        max-width: 1920px;

        height: calc(100vh - 62px);
        .zq-layout__content-main {
            flex: 1;
            .zq-layout__router-container {

            }
        }
    }
    .zq-layout__footer {
        width: 100%;
    }
}