.sl-videojs-player, .sl-videojs-player__main {
  position: relative;
  height: 100%;
  width: 100%;
}
.sl-videojs-player__controlbar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
}
.sl-videojs-player__main__slot {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}