.container {
    margin-left: 10px;
    // border: 1px solid #000;
    width: 1000px;
    height: 500px;
    vxe-table::ng-deep {
        height: 100%;
    }
}
.cell {
    overflow: auto;
    width: 200px;
    height: 48px;
}
.operate {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}