.chat-box {
  border-radius: 5px;
  border: 1px solid #3333;
  width: 600px;
  max-height: 400px;
}
.chat-box-input {
  position: relative;
}
.text-place {
  word-break: break-word;
  white-space: pre-wrap;
  min-height: 58px;
  max-height: 300px;
  visibility: hidden;
  overflow: auto;
}
.chat-box-toolbar {
  position: relative;
  height: 100px;
}
.chat-box-input-textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
}
.chat-maintain {
  .chat-maintain-item {
    padding: 4px 36px;
    position: relative;
    .avatar {
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      background-color: #3333;
      height: 28px;
      width: 28px;
    }
    .content {
      width: 100%;
    }
  }
}
